<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}


    {{ partial "header_titleOnly.html" . }}


    <div role="main" class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ range (.Paginate (.Data.Pages.GroupByDate "2006")).PageGroups }}
            <h1 class="posts-year">{{(index .Pages 0).Date.Format "2006"}}</h1>
              {{ partial "post_list.html" .Pages }}
            {{ end }}

            <center>
            {{ template "_internal/pagination.html" . }}
        </center>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}

  </body>
</html>
